table {
    width: 100%;
    border-collapse: collapse;
}

table tr:nth-last-of-type(odd) {
    background: #fff;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: center;
}
