@model List<RegestrationDetails>

<a href="/Student/Create">Add new student</a>
<br />

<table>
    <tr>
        <th>Student id</th>
        <th>Course Id</th>
        <th>Room Number</th>
        <th>Regestar date</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.StudentName</th>
            <th>@item.CoursetName</th>
            <th>@item.roomId</th>
            <th>@item.RegestrationDate.ToShortDateString()</th>

        </tr>
    }
</table>

